@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

  :root{
    --main-color:#a83e8b;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid #8b1b6e;
  }
  
  *{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
  }
  
  html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
  }
  
  html::-webkit-scrollbar{
    width: .8rem;
  }
  
  html::-webkit-scrollbar-track{
    background: transparent;
  }
  
  html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
  }
  
  body{
    background: var(--bg);
  }
  
  section{
    padding:2rem 7%;
  }
  
  .heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
  }
  
  .heading span{
    color:var(--main-color);
    text-transform: uppercase;
  }
  
  .btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
  }
  
  .btn:hover{
    letter-spacing: .2rem;
  }

  /* HEADER STARTS */

  .header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
  }
  
  .header .logo img{
    height: 6rem;
  }
  
  .header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:#fff;
  }
  
  .header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
  }
  
  .header .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
  }
  
  .header .icons div:hover{
    color:var(--main-color);
  }
  
  #menu-btn{
    display: none;
  }
  
  .header .search-form{
    position: absolute;
    top:115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
  }
  
  .header .search-form.active{
    transform: scaleY(1);
  }
  
  .header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black);
    padding:1rem;
    text-transform: none;
  }
  
  .header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color:var(--black);
  }
  
  .header .search-form label:hover{
    color:var(--main-color);
  }
  
  .header .cart-items-container{
    position: absolute;
    top:100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding:0 1.5rem;
  }
  
  .header .cart-items-container.active{
    right: 0;
  }
  
  .header .cart-items-container .cart-item{
    position: relative;
    margin:2rem 0;
    display: flex;
    align-items: center;
    gap:1.5rem;
  }
  
  .header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top:1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
  }
  
  .header .cart-items-container .cart-item .fa-times:hover{
    color:var(--main-color);
  }
  
  .header .cart-items-container .cart-item img{
    height: 7rem;
  }
  
  .header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color:var(--black);
    padding-bottom: .5rem;
  }
  
  .header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color:var(--main-color);
  }
  
  .header .cart-items-container .btn{
    width: 100%;
    text-align: center;
  }

  /* HEADER ENDS */

  /* INICIO STARTS */
  
  .inicio{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(imagens/home.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .inicio .content{
    max-width: 60rem;
  }
  
  .inicio .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color:#fff;
  }
  
  .inicio .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:#eee;
    text-transform:initial;
  }

  /* INICIO ENDS */

  /* SOBRE STARTS*/
  
  .sobre .row{
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
    height: 65vh;
  }
  
  .sobre .row .image{
    flex:1 1 45rem;
  }
  
  .sobre .row .image img{
    width: 100%;
  }
  .sobre .row .content{
    flex:1 1 45rem;
    padding:2rem;
  }
  
  .sobre .row .content h3{
    font-size: 3rem;
    color:#fff;
  }
  
  .sobre .row .content p{
    font-size: 1.6rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
    text-align: justify;
    text-transform:initial;
  }

  /* SOBRE ENDS */

  /* PROJETOS STARTS */

  .projetos .box{
    display: flex;
    align-items: center;
    border:var(--border);
    flex-wrap:wrap;
    height: 65vh;
  }
  
  .projetos .box .image{
    flex:1 1 40rem;
  }
  
  .projetos .box .image img{
    width: 85%;
  }

  .projetos .box .content{
    flex:1 1 45rem;
    padding:2rem;
  }
  
  .projetos .box .content h3{
    font-size: 3rem;
    color:#fff;
  }
  
  .projetos .box .content p{
    font-size: 1.6rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
    text-align: justify;
    text-transform:initial;
  }

  /* PROJETOS ENDS */

  /* INTEGRANTES STARTS */
  
  .integrantes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
  }
  
  .integrantes .box-container .box{
    border:var(--border);
    text-align: center;
    padding:3rem 2rem;
  }
  
  .integrantes .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:#ccc;
    padding:2rem 0;
    text-align: justify;
    text-transform:initial;
  }
  
  .integrantes .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .integrantes .box-container .box h3{
    padding:1rem 0;
    font-size: 2rem;
    color:#fff;
  }
  
  .integrantes .box-container .box .stars i{
    font-size: 1.5rem;
    color:var(--main-color);
  }

  /* INTEGRANTES ENDS */
  
  /* CONTATO STARTS */

  .contato .row{
    display: flex;
    background:var(--black);
    flex-wrap: wrap;
    gap:1rem;
  }
  
  .contato .row .map{
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
  }
  
  .contato .row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
  }
  
  .contato .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:#fff;
  }
  
  .contato .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--bg);
    border:var(--border);
  }
  
  .contato .row form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
  }
  
  .contato .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
  }

  /* CONTATO ENDS */
  
  /* FOOTER STARTS */

  .footer{
    background:var(--black);
    text-align: center;
  }
  
  .footer .share{
    padding:1rem 0;
  }
  
  .footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    border:var(--border);
    margin:.3rem;
    border-radius: 50%;
  }
  
  .footer .share a:hover{
    background-color: var(--main-color);
  }
  
  .footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
  }
  
  .footer .links a{
    padding:.7rem 2rem;
    color:#fff;
    border:var(--border);
    font-size: 2rem;
  }
  
  .footer .links a:hover{
    background:var(--main-color);
  }
  
  .footer .credit{
    font-size: 2rem;
    color:#fff;
    font-weight: lighter;
    padding:1.5rem;
  }
  
  .footer .credit span{
    color:var(--main-color);
  }

  /* FOOTER ENDS */

  /* MEDIA QUERIES  */

  @media (max-width:991px){
  
    html{
      font-size: 55%;
    }

    .header{
      padding:1.5rem 2rem;
    }

    section{
      padding:2rem;
    }
  
  }
  
  @media (max-width:768px){

    #menu-btn{
      display: inline-block;
    }

    .header .navbar{
      position: absolute;
      top:100%; right: -100%;
      background: #fff;
      width: 30rem;
      height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
      right:0;
    }

    .header .navbar a{
      color:var(--black);
      display: block;
      margin:1.5rem;
      padding:.5rem;
      font-size: 2rem;
    }

    .header .search-form{
      width: 90%;
      right: 2rem;
    }

    .home{
      background-position: left;
      justify-content: center;
      text-align: center;
    }

    .home .content h3{
      font-size: 4.5rem;
    }

    .home .content p{
      font-size: 1.5rem;
    }
  
  }
  
  @media (max-width:450px){
  
    html{
      font-size: 50%;
    }
  
  }
